[submodule "experiments/submodules"]
	path = experiments/submodules
	url = git@github.com:EO-Labs/submodules.git
[submodule "carbonzero"]
	path = carbonzero
	url = git@github.com:polal2is/carbonzero.git
